html {
	min-height: 100%;
	height: auto;	
}
body {
	font: 14px Tahoma;
	background-color: #FFFFFF;
	background-image: url("images/tile.png.html");	
	background-position: bottom left;
	background-repeat: repeat-x;	
}

div#container {	
	margin: 0 auto 0 auto;
	width: 860px;	
}

img {
	border: none;
}

/********************* Header **********************/
div#header {
	width: 500px;
	height: 150px;
    text-align: center;
}
img#logo {
	border: 0px;
}

/********************* Nav **********************/
div#nav {
	float: left;
	width: 150px;
	margin-top: 230px;
	padding: 15px 12px 15px 0px;
	border-right: 2px solid #000000;
	text-align: right;
}
div.nav {
	padding: 8px 0px 8px 0px;
}

a.nav {
    color: #000066;
    text-decoration: none;
    font: 18px "Trebuchet MS";
	letter-spacing: 2px;
    font-weight: bold;
}
a.nav:hover {
	color: #6666CC;
	text-decoration: underline;
}
a.nav-current {
    color: #000066;
    text-decoration: none;
    font: 18px "Trebuchet MS";
	letter-spacing: 2px;
    font-weight: bold;
}
a.nav-current:hover {
	color: #6666CC;
	text-decoration: underline;
}


/********************* Body **********************/
div#body {
	width: 500px;
	padding-bottom: 80px;
	margin: 0 180px 0 180px;
}
img.border {
	border: 2px solid #1E7E00;
}
a {
	color: #000066;
	text-decoration: underline;
}
a:hover {
	color: #6666CC;
}
div.center {
	width: 100%;
	text-align: center;
}
div.right {
	float: right;
	margin-left: 10px;
}
div.left {
	float: left;
	margin-right: 10px;
}
h1 {
	font: 24px "Trebuchet MS";
	letter-spacing: 1px;
	font-weight: bold;
	color: #1E7E00;
}
h1#title {
	font: 72px "Book Antiqua";
	letter-spacing: 20px;
	font-weight: bold;
	color: #83E165;
    margin: 0 0 0 0;
}
h1#title2 {
	font: 50px "Book Antiqua";
	letter-spacing: 8px;
	font-weight: normal;
	color: #83E165;
    margin: 0 0 0 0;
}
h2 {
	font: 18px "Lucida Grande";
	letter-spacing: 1px;
	font-weight: bold;
	color: #3F9224;
	padding-top: 10px;	
}
h1.center {
	text-align: center;
}
h3 {
	font: 14px "Lucida Grande";
	font-weight: bold;
	color: #39814F;
	margin: 0 0 0 0;
	
}
p {
	text-align: justify;
    line-height: 1.5;
	padding-top: 0px;
}
b {
	color: #960000;
}
li {
	text-align: justify;
    line-height: 1.5;
}
table.border {
	border: 2px solid #5A6A8E;
	border-collapse: collapse;
	margin: 0 auto 0 auto;
}
td.border {
	border: 1px solid #5A6A8E;
}
th.border {
	border: 1px solid #5A6A8E;
}

th {
	color: #960000;
}
p.error {
	font-weight: bold;
	color: #960000;
	background-color: #FFFF00;
}

table.results {
	border: 2px solid #5A6A8E;
	border-collapse: collapse;
	margin: 0 auto 0 auto;
	text-align: center;
}
td.results {
	border: 1px solid #5A6A8E;
}
th.results {
	border: 1px solid #5A6A8E;
}

tr.results-overall {
	font-weight: bold;
	border: 2px solid #5A6A8E;
}
